.profile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-color: 1px solid black;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    height: 200px;
    width: 21vh;
    right: 70px;
    margin-top: 21px;
    border: 1px solid rgb(206, 206, 206);
    position: absolute;
}
